<%= simple_form_for @dressage_test do |f| %>
  <%= f.input :org_name %>
  <%= f.input :name %>
  <%= f.input :level %>
  <%= f.input :year %>

<p> Enter test </p>

<%= f.fields_for @moves do |m| %>
<div class="row">
<div class="col">
  <%= m.input :letter %>
</div>
<div class="col">
  <%= m.input :move %>
</div>
</div>
<% end %>


<%= f.submit class: 'btn btn-primary' %>

<% end %>
