
<div id="results" style="background-color:white">

  <div>
    <%= page_entries_info dressage_tests%>
  </div>

  <table class='table'>
    <tr>
      <th>Level</th>
      <th>Year</th>
      <th>Test</th>
      <th>Registered at</th>
    </tr>
    <% dressage_tests.each do |d| %>
      <tr>

        <td><%= d.level %></td>
        <td><%= d.year %></td>
        <td>    <%= link_to (dressage_test_path(d)) do %> <%= d.name %></td>
        <td><%= d.created_at %></td>
      </tr>
    <% end %>
    <% end %>
  </table>
</div>

<%= will_paginate dressage_tests %>
