
<div id="results" style="background-color:white">

  <div>
    <%= page_entries_info dressage_tests%>
  </div>

  <table class='table'>
    <tr>
      <th>Year</th>
     <th> Org </th>
      <th>Level</th>
      <th>Test</th>

    </tr>
    <% dressage_tests.each do |d| %>
      <tr>
        <td> <%= link_to (dressage_test_path(d)) do %> <%= d.year %> <%end%> </td>
        <td> <%= link_to (dressage_test_path(d)) do %> <%= d.org_name %> <% end %> </td>
        <td>  <%= link_to (dressage_test_path(d)) do %> <%= d.level %> <% end %> </td>
        <td>  <%= link_to (dressage_test_path(d)) do %> <%= d.name %> <% end %> </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate dressage_tests %>
