<div id="results" style="background-color:white">



  <table class='table table-hover test-table'>
    <thead class='thead-light'>
      <tr>
        <th>Year</th>
        <th>Org </th>
        <th>Level</th>
        <th>Test</th>
        <th>Current</th>
        <th> </th>
        <td>
          </th>
      </tr>
    </thead>
    <% dressage_tests.each do |d| %>
    <% if d.current == true %>
    <tr class="table-success">
      <% else %>
    <tr class="table-warning">
      <% end %>

      <td> <%= link_to (dressage_test_path(d)) do %> <%= d.year %> <%end%> </td>
      <td> <%= link_to (dressage_test_path(d)) do %> <%= d.org_name %> <% end %> </td>
      <td> <%= link_to (dressage_test_path(d)) do %> <%= d.level %> <% end %> </td>
      <td> <%= link_to (dressage_test_path(d)) do %> <%= d.name %> <% end %> </td>
      <td> <%= link_to (dressage_test_path(d)) do %> <%= d.current == true ? ('Yes') : ('No') %>
        <% end %> </td>
      <td> <%= link_to (edit_dressage_test_path(d)) do %> Edit <%end %> </td>
      <td> Delete </td>
    </tr>
    <% end %>
  </table>
</div>