

<div class="container">

  <%= form_tag dressage_tests_path, class: "search-form row form-group", method: :get do %>
    <%= text_field_tag 'term', params[:term], placeholder: "Search for a test", class: "form-control col search-form" %>
    <%= submit_tag 'Search', class: "btn btn-primary submit-btn col-xs-2 ml-2" %>
  <% end %>

<div class="col d-flex flex-column align-items-center">

<div class="row">

<div class="col test-list">

<% @dressage_tests.each do |d| %>


<% if d.respond_to?(:pg_search_highlight) %>
<ul>
<li>
    <%= link_to (dressage_test_path(d)) do %>
  <%= d.pg_search_highlight.html_safe %>
  <% end %>
</li>
</ul>

<% else %>

<ul>
  <li>
    <%= link_to (dressage_test_path(d)) do %>
  <%= d.year %> <%= d.org_name %> <%= d.level %> <%= d.name %>
  <% end %>
</li>
</ul>
<% end %>

<% end %>

</div>
</div>
</div>
</div>
</div>
