

<div class="container">

  <%= form_tag dressage_tests_path, class: "search-form row form-group", method: :get do %>
    <%= text_field_tag 'term', params[:term], placeholder: "Search for a test", class: "form-control col search-form" %>
    <%= submit_tag 'Search', class: "btn btn-primary submit-btn col-xs-2 ml-2" %>
  <% end %>


<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Country
  </div>
  <div>
    Registered after
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'dressage_tests/list',
  locals: { dressage_tests: @dressage_tests }
) %>







  <div class="test-list">
<% @dressage_tests.each do |d| %>

<% if d.respond_to?(:pg_search_highlight) %>
<ul>
<li>
    <%= link_to (dressage_test_path(d)) do %>
  <%= d.pg_search_highlight.html_safe %>
  <% end %>
</li>
</ul>
<% else %>
<ul>
  <li>
    <%= link_to (dressage_test_path(d)) do %>
  <%= d.year %> <%= d.org_name %> <%= d.level %> <%= d.name %>
  <% end %>
</li>
</ul>
<% end %>

<% end %>
</div>

<div class="row">

  <div class="col">

    <div class="list-group">
      <li class="list-group-item list-group-item bg-dark text-white"> Walk/Trot</li>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
    </div>
  </div>

  <div class="col">

    <div class="list-group">
      <li class="list-group-item list-group-item bg-dark text-white"> Training</li>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
    </div>

  </div>

  <div class="col">

    <div class="list-group">
      <li class="list-group-item list-group-item bg-dark text-white"> First Level</li>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
    </div>

  </div>

  </div>
</div>

</div>
