<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">


      <h3> <%= @dressage_test.org_name %> <%= @dressage_test.year %>
      <%= @dressage_test.level %> <%= @dressage_test.name %> </h3>
            <a class="text-primary" href="" onclick="on()"> Toggle Arena Diagram </a>

      <p><%= @dressage_test&.note %> </p>


      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="letter-col"> Letter</th>
            <th scope="col">Movement</th>
          </tr>
        </thead>
        <tbody>
            <% @dressage_test.moves.each do |d| %>
            <tr>
            <td class="letter-col"> <div class="letter"><%= d.letter %> </td>
            <td class="move-col"> <%= d.move %> </td>
          </tr>
            <% end %>
        </tbody>
      </table>

</div>
 <div class="col-lg-4">
         <h5> Links and Resources </h5>
         <ul>

             <% @dressage_test&.links.each do |l| %>
             <li> <a href='<%= l.url %>'> <%= l.linkname %> </a> </li>
             <% end %>

         </ul>
 </div>
</div>
</div>
