<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">


      <h3> <%= @dressage_test.org_name %> <%= @dressage_test.year %>
      <%= @dressage_test.level %> <%= @dressage_test.name %> </h3>
            <a class="text-primary" href="" onclick="on()"> Toggle Arena Diagram </a>

      <% if @dressage_test.current == false %>

      <div class="border border-danger alert-light alert">
      <i class="fas fa-exclamation-triangle"></i>
        <h3 class="text-danger"> Whoa! According to <%=@dressage_test.org_name%>, this is an outdated test. </h3>
        <p> Check with your show organizer to make sure you have the correct test. </p>
        <p> Search for a current version of this test </p> 
      </div> 

      <% end %>


      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="letter-col"> Letter</th>
            <th scope="col">Movement</th>
          </tr>
        </thead>
        <tbody>
            <% @dressage_test.moves.each do |d| %>
            <tr>
            <td class="letter-col"> <div class="letter"><%= d.letter %> </td>
            <td class="move-col"> <%= d.move %> </td>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  <div class="col-lg-4">
  <% if @dressage_test.note.blank? == false %>
    <h5 class="box-heading"> Notes </h5> 
    <div class="border border-dark p-1">
      <p> <em> <%= @dressage_test.note %> </em> </p>
    </div>
  <% end %> 
  <% if @dressage_test.purpose.blank? == false %>
  <h5 class="box-heading"> Purpose </h5> 
    <div class="border border-dark p-1 pt-2">
      <p><%= @dressage_test.purpose %> </p>
    </div>
  <% end %>
  <% if @dressage_test.introduce.blank? == false %>
  <h5 class="box-heading"> Introduce </h5> 
    <div class="border border-dark p-1">
      <p><%= @dressage_test.introduce %> </p>
    </div>
  <% end %>

    <h5> Links and Resources </h5>
    <ul>
        <% @dressage_test&.links.each do |l| %>
        <li> <a href='<%= l.url %>'> <%= l.linkname %> </a> </li>
        <% end %>
    </ul>
</div>
</div>
</div>
